body {
  counter-reset: section;                     /* Set a counter named 'section', and its initial value is 0. */
}

.num-increment::before {
  counter-increment: section;                 /* Increment the value of section counter by 1 */
  content: counter(section);                  /* Display the value of section counter */
}

.samples-table{
  min-width: 100%;
  margin-top: 15px
}

.inline-block{
  display: inline-block;
}

/*input, label {*/
    /*display:block;*/
/*}*/

.select-cost-code{
  margin-left: 20px;
}