{#<ul class="border object-list">#}
{##}
{#    {% for stage in object_list %}#}
{#        <li>{{ stage.name }}</li>#}
{#        <select>#}
{#            {% for action in stage.actions.all %}#}
{#                <option value="volvo">{{ action.name }}</option>#}
{#            {% endfor %}#}
{##}
{#        </select>#}
{#        {% if sample.date %}#}
{#            <li>{{ sample.date }}</li>#}
{#        {% endif %}#}
{#    {% endfor %}#}
{##}
{#</ul>#}
<div class="object-list hidden">
{% if object_list %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Stage</th>
        <th scope="col">Status</th>
        <th scope="col">Date</th>
    </tr>
    </thead>
    <tbody>
    {% for stage in object_list %}
        <tr>
            <th class="num-increment" scope="row"></th>
            <td>{{ stage.name }}</td>
            <td>
            <select>
            {% for action in stage.actions.all %}
                <option value="volvo">{{ action.name }}</option>
            {% endfor %}

            </select>

            </td>
            <td>

                {% if sample.date %}
                    {{ sample.date }}
                {% endif %}
            </td>
        </tr>


    {% endfor %}

    </tbody>
</table>

{% endif %}

</div>