{% extends "base.html" %}
    {% block title %}
        Projects
        {% endblock title %}

{% block content %}


<div class="object-list container">
<table class="samples-table table ">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Year to date</th>
        <th scope="col">This month</th>
        <th scope="col">Funding</th>
        <th scope="col">Funding type</th>
        <th scope="col">Project text</th>
        <th scope="col">Project</th>
        <th scope="col">Balance of grants available</th>
        <th scope="col">LTD budget</th>
        <th scope="col">LTD actual</th>
    </tr>
    </thead>
    <tbody>
    {% if object_list %}

    {% for sample in object_list %}
        <tr>
            <th class="num-increment" scope="row"></th>
        <td>{{ sample.cost_code }}</td>
            <td>
                <a href="/samples/{{ sample.name }}">{{ sample.name }}</a>
            </td>
<td>{{ sample.supplier_name }}</td>
<td>{{ sample.donor_id }}</td>
<td>{{ sample.cohort }}</td>
<td>{{ sample.gender }}</td>
<td>{{ sample.public_name }}</td>
<td>{{ sample.common_name }}</td>
<td>{{ sample.description }}</td>
<td>{{ sample.phenotype }}</td>
            <td>

                {% if sample.date %}
                    {{ sample.date }}
                {% endif %}
            </td>
        </tr>



    {% endfor %}
            {% else %}
        <tr>            <th scope="row"></th>
<td>Nothing found</td></tr>
{% endif %}

    </tbody>
</table>


</div>
{% endblock content %}
