{% extends "base.html" %}
{% block title %}
    Projects
{% endblock title %}

{% block content %}
        <div class=""><a href="/samples/">All samples</a></div>

    <div class="object-list container">


        {% if is_project_core %}

            <h5>Core project</h5>

            <table class="projects-table table ">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Project</th>
                    <th scope="col">Description</th>
                    <th scope="col">Year to date</th>
                    <th scope="col">Year to date budget</th>
                    <th scope="col">Annual budget</th>
                    <th scope="col">Balance of grants available</th>
                </tr>
                </thead>
                <tbody>
                {% if object_list %}

                    {% for project in object_list %}
                        <tr>
                            <th class="num-increment" scope="row"></th>
                            <td>{{ project.cost_code }}</td>
                            <td>{{ project.accrep_text }}</td>
                            <td>{{ project.year_to_date }}</td>
                            <td>{{ project.year_to_date_budget }}</td>
                            <td>{{ project.annual_budget }}</td>
                            <td>{{ project.balance_avail }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <th scope="row"></th>
                        <td>Nothing found</td>
                    </tr>
                {% endif %}

                </tbody>
            </table>





        {% else %}

            <h5>Non-core project</h5>

            <table class="projects-table table ">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Cost code</th>
                    <th scope="col">Title</th>
                    <th scope="col">Funding</th>
                    <th scope="col">Funding type</th>
                    <th scope="col">Year to date</th>
                    <th scope="col">LTD actual</th>
                    <th scope="col">LTD budget</th>
                    <th scope="col">Balance of grants available</th>
                </tr>
                </thead>
                <tbody>
                {% if object_list %}

                    {% for project in object_list %}
                        <tr>
                            <th class="num-increment" scope="row"></th>
                            <td>{{ project.cost_code }}</td>
                            <td>{{ project.title }}</td>
                            <td>{{ project.funding }}</td>
                            <td>{{ project.fund_type }}</td>
                            <td>{{ project.year_to_date }}</td>
                            <td>{{ project.ltd_actual }}</td>
                            <td>{{ project.ltd_budget }}</td>
                            <td>{{ project.balance_avail }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <th scope="row"></th>
                        <td>Nothing found</td>
                    </tr>
                {% endif %}

                </tbody>
            </table>

        {% endif %}
    Total balance: {{ total }}

    </div>
{% endblock content %}
