{% extends "base.html" %}
    {% block title %}
        Samples database
        {% endblock title %}

{% block content %}
    {% block search %}
        <div class="container">
        <div class="select-sample ui-widget">
        <h5>Select sample: </h5>
    <label for="samples-search"></label>
    <input type="text" id="samples-search" name="samples-search"
           placeholder="Search samples">
        </div>
        </div>
    {% endblock search %}
    {% include "samples_list.html" %}


{% endblock content %}