<div class="object-list container">
<table class="samples-table table ">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Cost code</th>
        <th scope="col">Sample name</th>
        <th scope="col">Supplier name</th>
        <th scope="col">Donor id</th>
        <th scope="col">Cohort</th>
        <th scope="col">Gender</th>
        <th scope="col">Public name</th>
        <th scope="col">Common Name</th>
        <th scope="col">Description</th>
        <th scope="col">Phenotype</th>
        <th scope="col">Last updated</th>
    </tr>
    </thead>
    <tbody>
    {% if object_list %}

    {% for sample in object_list %}
        <tr>
            <th class="num-increment" scope="row"></th>
        <td><a href="/projects/{{ sample.cost_code }}">{{ sample.cost_code }}</a></td>
            <td>
                <a href="/samples/{{ sample.name }}">{{ sample.name }}</a>
            </td>
<td>{{ sample.supplier_name }}</td>
<td>{{ sample.donor_id }}</td>
<td>{{ sample.cohort }}</td>
<td>{{ sample.gender }}</td>
<td>{{ sample.public_name }}</td>
<td>{{ sample.common_name }}</td>
<td>{{ sample.description }}</td>
<td>{{ sample.phenotype }}</td>
            <td>

                {% if sample.date %}
                    {{ sample.date }}
                {% endif %}
            </td>
        </tr>



    {% endfor %}
            {% else %}
        <tr>            <th scope="row"></th>
<td>Nothing found</td></tr>
{% endif %}

    </tbody>
</table>


</div>
