<div class="object-list">
    {% if stages %}
        <table class="table" id="stages-table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for stage in stages.all %}
                <tr>
                    <th class="num-increment" scope="row"></th>
                    <td>

                        {% if stage.date %}
                            {{ stage.date }}
                        {% endif %}
                    </td>
                    <td>
                        {{ stage.action.name }}
{#                        <select class="select-action">#}
{#                            {% for action in actions %}#}
{#                                <option value="{{ action.id }}">{{ action.name }}</option>#}
{#                            {% endfor %}#}
{##}
{#                        </select>#}

                    </td>

                </tr>


            {% endfor %}

            </tbody>
        </table>

    {% endif %}

</div>