{% extends "base.html" %}
{% block title %}
    Samples database
{% endblock title %}

{% block content %}
    {% block search %}
        <div class="container">
            <div class="select-sample ui-widget inline-block">
                <label for="samples-search">Select sample:</label>
                <input type="text" id="samples-search" name="samples-search"
                       placeholder="Search samples">
            </div>

            <div class="select-cost-code ui-widget inline-block">
                <label for="cost-code-search">Select by cost code: </label>
                <input type="text" id="cost-code-search" name="cost-code-search"
                       placeholder="Search cost codes">
            </div>
        </div>
    {% endblock search %}
    {% include "samples_list.html" %}


{% endblock content %}